<ion-header>
  <ion-toolbar color="dark" mode="ios">

    <ion-button slot="start" color="danger" routerLink="/home">VOLTAR</ion-button>

    <ion-title>Cadastre sua lista de compras</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-label class="f">
    <p>
      item
    </p>

  </ion-label>
 
  <form>
    

    <ion-input class="form" type="text" name="produto" placeholder="Nome do produto"></ion-input>
    
  </form>

  <form>

    <ion-input class="form" type="text" name="cat" placeholder="Categoria"></ion-input>
    
  </form>
  <form>


    <ion-input class="form" type="number" name="preco" placeholder="Preço Estimado"></ion-input>

  </form>
  <form>

    <ion-input class="form" type="number" name="quant" placeholder="Quantidade"></ion-input>

  </form>









</ion-content>
