<ion-header>
  <ion-toolbar color="dark" mode="ios">

    <ion-button slot="start" color="danger" routerLink="/home">VOLTAR</ion-button>

    <ion-title>Cadastre sua lista de compras</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-label class="f">
    <p>
      item
    </p>

  </ion-label>
 
  <form  >
    <!-- #form="ngForm" (ngSubmit)="update(form)" -->
    

    <ion-input class="form" type="text" name="produto" [ngModel]="produto.produto" placeholder="Nome do produto"></ion-input>
    
  </form>

  <form>

    <ion-input class="form" type="text" name="cat" [ngModel]="produto.cat" placeholder="Categoria"></ion-input>
    
  </form>
  <form>


    <ion-input class="form" type="number" name="preco" [ngModel]="produto.preco" placeholder="Preço Estimado"></ion-input>

  </form>
  <form>

    <ion-input class="form" type="number" name="quant" [ngModel]="produto.quant" placeholder="Quantidade"></ion-input>

    <ion-button type="submit" color="success" expand="block"> Atualizar </ion-button>

  </form>









</ion-content>
