.form{
    text-align: center;
    height: 80px;
    margin-top:20px;
    background-color: pink;
    width: 400px;
    margin-left: 600px;
}
.f{
    text-align: center;
    background-color: pink;
    font-size: 200px;


}
p{
    margin-top:10px;
    text-align: center;
    font-size: 30px;

}
