<ion-header>
  <ion-toolbar>
    <ion-title>contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

     <img class="img" src="/assets/lista.jpg" alt="Imagem de Contato">
     
     <ion-card-title>
       Agradecemos o seu contato
     </ion-card-title>
     <ion-card-subtitle >

     </ion-card-subtitle>

     <ion-card-header>

      <ion-icon class="icon" name="call"></ion-icon>
      <ion-label> Telefone: (21) 9999-9999</ion-label>
<br>
<br>

      <ion-icon class="icon" name="mail"></ion-icon>
      <ion-label> E-mail:frutas@gmail.com</ion-label>
  <br>




     </ion-card-header>

     
  </ion-card>

</ion-content>
