
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<!-- <ion-header>
  <ion-toolbar>
    <ion-title routerLink="/home">HOME</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>

    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/contato">
         <ion-icon slot="start" name="call"></ion-icon>
           <ion-label>
             Contato
           </ion-label>   
          </ion-buttoons>  -->

      <!-- </ion-item>
      <ion-item routerLink="/form">
        <ion-icon slot="start" name="checkmark-circle"></ion-icon>
          <ion-label>
            Formulário de compra
          </ion-label>      
     </ion-item>

    </ion-menu-toggle>

  </ion-list> -->

<ion-toolbar>
  <nav class="navbar">
    <a class="navbar-brand" href="home">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="contato">Contato <span class="sr-only"></span></a>
        <a class="nav-item nav-link" href="form">formulário de Compras</a>
        <!-- <a class="nav-item nav-link" href="#">Preços</a>
        <a class="nav-item nav-link disabled" href="#">Desativado</a> -->
      </div>
    </div>
  </nav>
</ion-toolbar>

 
