<ion-header>
  <ion-toolbar color="dark" mode="ios">

    <ion-title>
      Lista de Compras
      
    </ion-title>
    <ion-menu contentId="main-content" >
      <ion-header>
        <ion-toolbar>
          <ion-title>Contato</ion-title>  
        </ion-toolbar>
        <ion-toolbar>
          <ion-title>Contato</ion-title>  
        </ion-toolbar>

        <ion-toolbar>
          
          <ion-title routerLink="/form">Formulário</ion-title>
        </ion-toolbar>
      </ion-header>


  
      <ion-content class="ion-padding"></ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Menu</ion-title>
        </ion-toolbar>       
      </ion-header> 
      
    </div>


    

    
   
  </ion-toolbar>



</ion-header>

<ion-content [fullscreen]="true">

<ion-img src="/assets/lista.jpg"></ion-img>

<ion-list>

  <ion-item-sliding *ngFor = "let produto of listaProdutos">

    <ion-item (click)="actionMetod(produto)">
      <!--Bolinha Branca - opção radio-->
      <ion-icon name="radio-button-off" *ngIf="!produto.status"></ion-icon>

      <ion-label *ngIf="!produto.status">

        <strong>Produto: </strong>

        {{produto.produto}}

      </ion-label>

      <ion-label *ngIf="!produto.status">

        <strong>Quantidade: </strong>

        {{produto.produto}}

      </ion-label>
      </ion-item>

<ion-toolbar color="dark" mode="ios">

  <ion-item-option color="blue">

    <ion-icon name="trash-outline"></ion-icon>

  </ion-item-option>

  <ion-item-option color="sucess" [routerLink]="['/form, produto.id']"></ion-item-option>

  <ion-icon name="refresh-outline"></ion-icon>

</ion-toolbar>
</ion-item-sliding>
</ion-list>
</ion-content>
